@use '../../../styles/global' as *;

.container{
    text-align: right;
}

.buttonAction{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    background-color: var(--secondary-color);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 600;
    color: white;
    border: none;

    &[data-hover] {
        background-color: var(--primary-color);
    }
}

.mainButton{
    position:absolute;
    width: 8rem;
    transform-origin: top right;
    border-radius: 0.75rem;
    border: 1px solid $primary-gray;
    background-color:#393D41;
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: white;
    --anchor-gap: 0.25rem;
}

.buttonDropdown{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    background-color:#393D41;
    color: white;
    border: none;

    &[data-focus] {
        background-color: rgba(255, 255, 255, 0.1);
    }
}