@use '../../../styles/global' as *;

.badge{
    max-width: 9.6rem;
    height: 32px;
    border-radius: 4px;
    border: none;
    padding: 0px 10px 0px 10px;
}

.default{
    background: $secondary-white;
    color: $primary-white;
}

.primary{
    background: $secondary-green;
    color: $primary-green;
}

.secondary{
    background: $secondary-yellow;
    color: $primary-yellow;
}

.warning{
    background: $secondary-red; 
    color: $primary-red;
}