@use '../../../styles/global' as *;

.containerTab{
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonContainer{
    width: 80%;
    background-color: var(--secondary-color);
    padding: 0.3rem;
    border-radius: 8px;
    display: flex;
    gap: 5px;
}

.button{
    width: 50%;
    height: 2rem;
    border: none;
    color: var(--primary-text);
    background-color: var(--secondary-color);
    border-radius: 4px;

    

    &[data-hover] {
        cursor: pointer;
    }

    &[data-selected] {
        background-color: $primary-gray;
        outline: none;
        border: none; 
    }
}